* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

input:focus {
  outline: none !important;
}

ul {
  list-style-type: none;
}
