// .container {
//   display: flex !important;
//   flex-direction: column !important;
//   justify-content: space-between !important;
//   gap: 20px !important;

//   padding-top: 15px !important;
// }
.hidden {
  max-height: 80vh;
  display: flex !important;
  flex-direction: column-reverse !important;
  align-items: end !important;
  gap: 20px !important;
  overflow: scroll;
  padding-top: 20px !important;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    width: none;
  }

  &__post {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
}

.hidden::-webkit-scrollbar {
  display: none;
}

.hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
