* {
  font-family: "Poppins", sans-serif !important;
}

.text {
  display: -webkit-box !important;
  -webkit-line-clamp: 8 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  margin-top: 12px !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: normal;
}

.tags {
  margin-top: 2px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.img {
  border-radius: 12px !important;
  display: block !important;
  width: 100% !important;
  max-width: 386px !important;
  object-fit: cover !important;
  object-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
.previewPost {
  padding: 14px 21px !important;
  width: 100% !important;
  max-width: 980px !important;
  height: 338px !important;
}

.title {
  color: #000;
  font-size: 24px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: normal;
  margin-bottom: 0 !important;
}

.flexWrapper {
  padding: 14px 21px;
  height: 338px;
  display: flex;
  gap: 37px;
  justify-content: space-around;
}

.btn {
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin-top: 10px !important;
  padding: 5px 15px !important;
  border-radius: 12px !important;
  border: 2px solid #0a84ff !important;
  background: #fff !important;
  color: #000 !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: normal !important;
  text-transform: lowercase !important;
  box-shadow: none !important;
  transition: 0.3s all;
}

.btn:hover {
  background: #0a84ff !important;
  border: none !important;
  color: #fff !important;
}

.content {
  padding: 14px 21px 14px 0 !important;
}

@media (max-width: 1650px) {
  .displayFlex {
    max-width: 800px !important;
    max-height: 400px !important;
  }
  .text {
    max-width: 400px !important;
    max-height: 400px !important;
  }
}
@media (max-width: 1360px) {
  .displayFlex {
    max-width: 600px !important;
    max-height: 300px !important;
  }
  .text {
    max-width: 300px !important;
    max-height: 300px !important;
  }
  .img {
    max-width: 300px !important;
    max-height: 300px !important;
  }
}
