.hidden {
  max-height: 80vh;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  gap: 20px !important;
  overflow-y: scroll;
  padding-top: 20px !important;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    width: none;
  }
}
.spinner {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 25%;
}
