* {
  font-family: "Poppins", sans-serif !important;
}

.hidden {
  max-height: 80vh;
  display: flex !important;
  flex-direction: column !important;
  align-items: end !important;
  gap: 20px !important;
  overflow: scroll;
  padding-top: 20px !important;
}

.hidden::-webkit-scrollbar {
  display: none;
}

.hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.spinner {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 25%;
}
