.post {
  width: 800px;
  height: 100%;
  margin: 0 auto;
  background: #fbeec1;
  padding: 20px;
  &__title {
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    font-size: 40px;
    text-align: left;
  }
  &__text {
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    font-size: 18px;
    text-align: justify;
  }
  &__img {
    background-color: lightgray;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__divimg {
    width: 100%;
    height: 500px;
  }
  &__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
    width: 100%;
  }
  &__button {
    width: 100px;
    height: 50px;
    margin-bottom: -20px;
    border: 0;
    cursor: pointer;
    background: 0;
    color: #d32f2f;
  }
  &__favorites {
    width: 100px;
    height: 50px;
    margin-left: 20px;
  }
  &__choice {
    display: flex;
  }
}
.btnr {
  height: 30px;
  margin: 20px !important;
}
